<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>
    <div class="wrapper">
        <!-- wrapper for fixed menu header on desktop version -->
        <header class="header">CricStats</header><!-- logo -->
        <!-- mobile menu button -->
        <div class="menu">
            <button id="menu-button" class="button">
                <span class="wrap">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </span>
            </button> 
            <!-- Menu items -->
            <nav id="menu-items" class="menubar">
                <ul>
                    <li class="close"><a href="#" id="close" class="fas fa-times"></a></li> 
                    <li id="home" class="menu-item">@Html.ActionLink("HomePgae", "Index", "Home")</li>  
                    <li class="menu-item">@Html.ActionLink("Gallery", "Index", "Gallery")</li>
                    <li class="menu-item">@Html.ActionLink("Fixtures", "Index", "Fixtures")</li>
                    <li id="stats" class="menu-item">@Html.ActionLink("Stats", "Index", "Stats")
                    <i class="fas fa-caret-down"></i>
                    <ul>
                        <li class="sub-menu">@Html.ActionLink("Graph", "Index", "Graph")</li>
                    </ul>
                </li>
                <li id="last-li">@Html.ActionLink("Adminwrfr4", "AdminMain", "Admin")</li>
             
            </ul>
        </nav>
    </div>
</div>




<div class="container body-content">
    @RenderBody()
    <hr />


</div>


<div class="navigation">

    <section >
        <ul class="sec1">
            <li>@Html.ActionLink("HomePgae", "Index", "Home")</li>
            <li>@Html.ActionLink("Gallery", "Index", "Gallery")</li>
            <li>@Html.ActionLink("Fixtures", "Index", "Fixtures")</li>
        </ul>
    </section>
    <section >
        <ul class="sec2">
            <li>@Html.ActionLink("Stats", "Index", "Stats")</li>
            <li>@Html.ActionLink("Graph", "Index", "Graph")</li>
            <li>@Html.ActionLink("Adminwrfr4", "AdminMain", "Admin")</li>
        </ul>
    </section>
</div>

<footer class="footer">
    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
</footer>




@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
