
@{
    ViewBag.Title = "AdminMain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="pagetitlemargin">Stats Update</h1>


<form>
    <h2>
        Player
    </h2>
    <div class="form-group">
        <label> Player Name: </label> <input type="text" id="playerName" name="playerName" placeholder="Player Full Name" />
        <input type="number" id="PlayerId" name="PlayerId" value=0 hidden required />
    </div>

    <button type="submit" class="btn btn-primary" name="btnSavePlayer" id="btnSavePlayer"> Submit </button>
    <button class="btn btn-warning" name="statsClear"> Clear </button>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#managePlayers">
        Manage Player
    </button>

</form>


<!-- Modal -->
<div class="modal fade" id="managePlayers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal Player</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<h2>Result and Fixture Update</h2>

<form>
    <div class="fields">
        <label> HomeTeam: </label> <input type="text" id="HomeTeam" name="HomeTeam" placeholder="" required />
        <label> OppositionTeam: </label> <input type="text" id="OppositionTeam" name="OppositionTeam" placeholder="" required />
    </div>
    <div class="fields">
        <label> Date of the Match: </label> <input type="datetime" id="dateOfMatch" name="dateOfMatch" />
        <label> Toss Result:</label>
        <div class="checkbox-fields">
            <input type="checkbox" id="isTossWon" name="isTossWon" value="" />Won
        </div>
    </div>
    <div class="fields">
        <label> Home Wicket Fallen: </label> <input type="number" id="homeWicketsFallen" name="homeWicketsFallen" placeholder="" required />
        <label> Home Score: </label> <input type="number" id="homeScore" name="homeScore" placeholder="" required />
    </div>
    <div class="fields">
        <label> Home Team Overs: </label> <input type="number" id="HomeTeamOvers" name="HomeTeamOvers" placeholder="" required />
        <label> Opposition Score: </label> <input type="number" id="oppositionScore" name="oppositionScore" placeholder="" required />
    </div>
    <div class="fields">
        <label> Opposition Wickets: </label> <input type="number" id="oppositionWicketsFallen" name="oppositionWicketsFallen" placeholder="" required />
        <label> Opposition Team Overs: </label> <input type="number" id="OppositionTeamOvers" name="OppositionTeamOvers" placeholder="" required />
    </div>

    <div class="fields">

        <label> Match Result: </label>
        <div class="checkbox-fields">
            <input type="checkbox" id="isWin" name="isWin" value="" />Won
        </div>
    </div>

    <button type="submit" class="btn btn-primary" name="btnSaveMatches" id="btnSaveMatches"> Submit </button>
    <button class="btn btn-warning" id="resultClear"> Clear </button>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#manageMatches">
        Manage Match
    </button>
</form>

<!-- Modal -->
<div class="modal fade" id="manageMatches" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal Match</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<h2>performance</h2>

<form oninput="calculateEconomy(), bowlingAvg(), battingStr()">
    <div class="fields">
        <label> Select Player: </label> @Html.DropDownList("pList", (IEnumerable<SelectListItem>)ViewBag.listOfPlayers, new { id = "ddPlayerList", @class = "ddfield" })
        <label> Select Match: </label> @Html.DropDownList("mList", (IEnumerable<SelectListItem>)ViewBag.listOfMatches, new { id = "ddMatchList", @class = "ddfield" })
    </div>

    <div class="fields">
        <label> Runs Scored: </label> <input type="number" id="runsScored" name="runsScored" placeholder="" required />
        <label> Balls Faced: </label> <input type="number" id="ballFaced" name="ballFaced" placeholder="" required />
    </div>
    <div class="fields">
        <label> Fours: </label> <input type="number" id="Fours" name="Fours" placeholder="" required />
        <label> Sixes: </label> <input type="number" id="Sixes" name="Sixes" placeholder="" required />
    </div>
    <div class="fields">
        <label> Wickets Taken: </label> <input type="number" id="wicketsTaken" name="wicketsTaken" placeholder="" required />
        <label> Overs Bowled: </label> <input type="number" id="oversBowled" name="oversBowled" placeholder="" required />
    </div>
    <div class="fields">
        <label> Runs Conceded: </label> <input type="number" id="runConceded" name="runConceded" placeholder="" required />
        <label> Catches Taken: </label> <input type="number" id="Catches" name="Catches" placeholder="" required />
    </div>
    <div class="fields">
        <label> Run Outs: </label> <input type="number" id="runOuts" name="runOuts" placeholder="" required />
        <label> Batting Strike Rate: </label> <output type="number" id="BattingStrikeRate" name="BattingStrikeRate"  required></output>
    </div>
    <div class="fields">
        <label> Bowling Economy: </label> <output type="number" id="BowlingEconomy" name="BowlingEconomy"  required ></output>
        <label> Out: </label>
        <div class="checkbox-fields">
            <input type="checkbox" id="Out" name="Out" value="" />Won
        </div>
    </div>
    <div class="fields">
        <label> Bowling Average: </label> <output type="number" id="BowlingAverage" name="BowlingAverage"  required ></output>
    </div>
    <button type="submit" class="btn btn-primary" name="btnSavePerformance" id="btnSavePerformance"> Submit </button>
    <button class="btn btn-warning" name="statsClear"> Clear </button>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#managePerformance">
        Manage Performance
    </button>

</form>

<!-- Modal -->
<div class="modal fade" id="managePerformance" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal Performance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<h2>News Update</h2>

<form>
    <div class="fields">
        <label> Title: </label> <input type="text" id="Title" placeholder="" required />
        <label> Image: </label> <input type="text" id="Image" placeholder="" required />
    </div>
    <div class="fields">
        <label> Article: </label> <textarea id="Article" placeholder="Type aricle here..." required></textarea>
    </div>
    <button class="btn btn-primary" id="newsSubmit"> Submit </button>
    <button class="btn btn-warning" id="newsClear"> Clear </button>
    <button class="btn btn-info" id="managePlayer"> Manage </button>
</form>

<script>
    $(document).ready(function () {

        $("#btnSavePlayer").on("click", function (e) {

            e.preventDefault();
            SavePlayer();

        });

        $("#btnSaveMatches").on("click", function (e) {

            e.preventDefault();
            SaveMatches();

        });

        $("#btnSavePerformance").on("click", function (e) {

            e.preventDefault();
            SavePerformance();

        });

    });

   //arithmetic operation
    function calculateEconomy() {
        var runConceded  = document.getElementById('runConceded').value;
        var oversBowled = document.getElementById('oversBowled').value;

        var Economy = runConceded / oversBowled;
        document.getElementById('BowlingEconomy').value = Economy.toFixed(0);

    }

    function bowlingAvg() {
        var runConceded = document.getElementById('runConceded').value;
        var wicketsTaken = document.getElementById('wicketsTaken').value;

        var bowlingavg = runConceded / wicketsTaken;
        document.getElementById('BowlingAverage').value = bowlingavg.toFixed(0) ;

    }

    function battingStr() {
        var runConceded = document.getElementById('runsScored').value;
        var oversBowled = document.getElementById('ballFaced').value;

        var battingStrikeRate = (runConceded / oversBowled) * 100;
        document.getElementById('BattingStrikeRate').value = battingStrikeRate.toFixed(0) ;

    }




    function SavePlayer() {
        //var input = $('#player-performance').find("input,select,textarea").serialize();

        $.ajax({
            type: "post",
            data: {
                PlayerName: $('#playerName').val()

            },
            url: '@Url.Action("SavePlayer")',
            success: function (data) {
                if (data === "1") {
                    alert("Player Name Saved");
                    window.location = '@Url.Action("AdminMain","Admin")';
                } else if (data === "2") {
                    alert("Player Name Already Exist");
                    window.location = '@Url.Action("AdminMain","Admin")';
                }

            },
            error: function (data) {
                if (data === "0")
                    alert("Player Name Save Failed");
            }
        })

    }


    function SaveMatches() {
        //var input = $('#player-performance').find("input,select,textarea").serialize();
        $.ajax({

            type: "post",
            data: {

                dateOfMatch: $('#dateOfMatch').val(),
                HomeTeam: $('#HomeTeam').val(),
                OppositionTeam: $('#OppositionTeam').val(),
                isTossWon: $('#isTossWon').prop("checked"),        
                homeScore: $('#homeScore').val(),
                homeWicketsFallen: $('#homeWicketsFallen').val(),
                HomeTeamOvers: $('#HomeTeamOvers').val(),
                oppositionScore: $('#oppositionScore').val(),
                oppositionWicketsFallen: $('#oppositionWicketsFallen').val(),
                OppositeTeamOvers: $('#OppositionTeamOvers').val(),
                isWin: $('#isWin').prop("checked")

            },
            url: '@Url.Action("SaveMatch")',
            success: function (data) {
                if (data === "1") {
                    alert("Match Saved");
                    window.location = '@Url.Action("AdminMain","Admin")';
                } else if (data === "2") {
                    alert("Match Entry Already Exist");
                    window.location = '@Url.Action("AdminMain","Admin")';
                }

            },
            error: function (data) {
                if (data === "0")
                    alert("Match Save Failed");
            }
        })
     
    }


    function SavePerformance() {
        //var input = $('#player-performance').find("input,select,textarea").serialize();
        alert($('#dateOfMatch').val());

        $.ajax({

            type: "post",
            data: {
                PlayerId: $('#ddPlayerList').val(),
                MatchId: $('#ddMatchList').val(),
                runsScored: $('#runsScored').val(),
                ballsFaced: $('#ballFaced').val(),
                Fours: $('#Fours').val(),
                Sixes: $('#Sixes').val(),
                wicketsTaken: $('#wicketsTaken').val(),
                oversBowled: $('#oversBowled').val(),
                runConceded: $('#runConceded').val(),
                Catches: $('#Catches').val(),
                runOuts: $('#runOuts').val(),
                BattingStrikeRate: $('#BattingStrikeRate').val(),
                BowlingEconomy: $('#BowlingEconomy').val(),
                Out: $('#Out').prop('checked'),
                BowlingAverage: $('#BowlingAverage').val()

            },
            url: '@Url.Action("SavePerformance")',
            success: function (data) {
                if (data === "1") {
                    alert("Performance Saved");
                    window.location = '@Url.Action("AdminMain","Admin")';
                }

            },
            error: function (data) {
                if (data === "0") {
                    alert("Save Failed");
                    window.location = '@Url.Action("AdminMain","Admin")';
                }
            }})
    
    }



</script>


